@charset "UTF-8";
@media (max-width: 64em) {
  .header-logo-top,
.navbar--center,
.navbar--left__logo,
.navbar--right__user {
    display: none;
  }

  .navbar--left__logo-mb {
    display: block;
    width: 164px;
    height: auto;
  }

  .navbar--right__bar {
    display: flex;
  }

  .menu-mb {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background-image: url("../images/menu-mb-open.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s linear;
    transform: translatex(-100%);
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    -ms-transform: translatex(-100%);
    -o-transform: translatex(-100%);
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
  }

  .menu-mb.show {
    transform: translatex(0);
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -ms-transform: translatex(0);
    -o-transform: translatex(0);
  }

  .navbar-item__icon {
    color: #efbb5f;
    font-size: 1.25rem;
    margin-left: 0.625rem;
  }

  .navbar-item__primary:hover .navbar-item-list {
    display: none;
  }

  .navbar-item:hover .navbar-item__dropdown {
    display: none;
  }

  .navbar-item__primary.active .navbar-item-list {
    display: block;
  }

  .navbar-item__dropdown {
    position: relative;
    padding: 1.5rem 3rem;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    border: none;
    display: none;
    opacity: 1;
    visibility: visible;
    align-items: center;
    justify-content: end;
    margin-top: 0;
  }

  .navbar-item__primary a {
    color: #efbb5f;
  }

  .navbar-item__primary {
    font-size: 1rem;
    font-family: "Alegreya Sans", sans-serif !important;
  }

  .navbar-item__title {
    font-size: 1.125rem;
  }

  .navbar__list {
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 10rem;
  }

  .navbar-item.active .navbar-item__dropdown {
    display: flex;
  }

  .navbar-item-mb.active .navbar-item__title {
    color: #efbb5f;
  }

  .share-menu + .share-menu {
    margin-left: 1.25rem;
  }

  .banner-top {
    display: none;
  }

  .banner-top-mb-container {
    display: block;
  }

  .banner-top-mb .slick-dots {
    bottom: 0.3125rem;
  }

  .banner-top-mb .slick-dots li button {
    width: 2rem;
  }

  .banner-top-mb .slick-dots li button:before {
    content: "";
    width: 2rem;
    height: 0.25rem;
    background-color: #89AAE6;
  }

  .banner-top-mb .slick-dots li {
    width: 1rem;
    margin: 0 1rem;
  }

  .going-on {
    margin-top: 0;
  }

  .padding-y-56 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .tab-pane-row1, .tab-pane-row2 {
    display: block;
  }

  .tab-pane-row1-block {
    flex-direction: row;
  }

  .tab-pane-row1__img {
    width: 35%;
  }

  .tab-pane-row1-content {
    width: 65%;
    padding: 1rem;
  }

  .tab-pane-row1-text1 {
    font-size: 0.625rem;
  }

  .tab-pane-row1-text2 {
    font-size: 1.25rem;
    padding-bottom: 0;
  }

  .tab-pane-row1-text3 {
    display: none;
  }

  .tab-pane-row2 {
    margin-top: 0;
  }

  .tab-pane-row1-block {
    margin-bottom: 1rem;
  }
}
@media (min-width: 46.25em) and (max-width: 64em) {
  .navbars,
.menu-mb-content-header {
    padding: 0.75rem 2rem;
  }

  .navbar-item .navbar-item__primary:last-child {
    padding-right: 0;
  }

  .share-menu img {
    width: 3rem;
    height: auto;
  }

  .banner-top-mb-item-content {
    display: none;
  }

  .going-on-header__title {
    font-size: 2.125rem;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .tab-pane-block {
    display: flex;
    align-items: flex-start;
  }

  .tab-pane-row1 {
    flex: 0 0 65%;
    padding-right: 0.75rem;
  }

  .tab-pane-row2 {
    flex: 0 0 35%;
    padding-left: 0.75rem;
  }

  .tab-pane-row2-text2 {
    font-size: 0.875rem;
  }

  .tab-pane-row2-block {
    border-left: 4px solid #054A91;
  }

  .tab-pane-row2-text2 {
    -webkit-line-clamp: 2;
  }

  .tab-pane-row2-block .tab-pane-row1-content {
    padding: 0.5rem;
  }
}
@media (max-width: 46.1875em) {
  .navbar--left__logo-mb {
    height: 1.25rem;
    width: auto;
  }

  .navbars,
.menu-mb-content-header {
    padding: 0.25rem 0.5rem;
  }

  .navbar-item__dropdown {
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar-item__dropdown {
    padding: 0.75rem 1.25rem;
  }

  .navbar-item__primary {
    padding-left: 0;
    padding-right: 0;
  }

  .share-menu img {
    width: 2rem;
    height: auto;
  }

  .banner-top-mb-item-text {
    display: none;
  }

  .banner-top-mb-item-content {
    display: block;
  }

  .thumb-item6x3 {
    padding-bottom: 70%;
  }

  .banner-top-mb .slick-dots {
    bottom: -0.625rem;
  }

  .banner-top-mb .slick-next {
    right: 0;
    top: 41%;
    background: rgba(255, 255, 255, 0.25);
    width: 1.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-top-mb .slick-prev {
    left: 0;
    top: 41%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.25);
    width: 1.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-top-mb .slick-next:before {
    content: "❭";
  }

  .banner-top-mb .slick-prev:before {
    content: "❬";
  }

  .going-on-header__title {
    font-size: 1.375rem;
    font-weight: 600;
  }

  .going-on-header__img {
    width: 1.625rem;
    height: auto;
  }

  .banner-top-mb-container {
    background-color: #fff;
    padding-bottom: 0.625rem;
  }

  .padding-y-56 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .padding-x-32 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .tab-pane-row2-block {
    border-left: 0;
  }

  .tab-pane-row2 .tab-pane-row1__img {
    display: block;
  }

  .tab-pane-row1-text2 {
    font-size: 1rem;
  }

  .tab-pane-row2-text2 {
    font-size: 1rem;
    color: #054a91;
  }

  .tab-pane-block .tab-pane-row1 .tab-pane-row1-block:first-child {
    flex-direction: column;
  }

  .tab-pane-block .tab-pane-row1 .tab-pane-row1-block:first-child .tab-pane-row1__img,
.tab-pane-block .tab-pane-row1 .tab-pane-row1-block:first-child .tab-pane-row1-content {
    width: 100%;
  }

  .tab-pane-block .tab-pane-row1 .tab-pane-row1-block:first-child .tab-pane-row1-text2 {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }

  .tab-pane-block .tab-pane-row1 .tab-pane-row1-block:first-child .tab-pane-row1-text3 {
    display: block;
  }

  .tab-pane-more {
    font-size: 0.875rem;
  }

  .tab-line {
    display: block;
  }
}

/*# sourceMappingURL=responsive.css.map */
