.about-us-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
}
.about-us-top__img .thumb-5x3 {
    padding-bottom: 90%;
    border-radius: 999px 999px 0 0;
    -webkit-border-radius: 999px 999px 0 0;
    -moz-border-radius: 999px 999px 0 0;
    -ms-border-radius: 999px 999px 0 0;
    -o-border-radius: 999px 999px 0 0;
    overflow:hidden;
}
.about-us-top__content {
    margin-top: auto;
}
.about-us-top__content--title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.about-us-top__content--text1 {
    font-size: 1.125rem;
}
.about-us-top__content--text1  + .about-us-top__content--text1  {
    margin-top: 1.5rem;
}
.milestones-block__img {
    position: relative;
}
.milestones-block__img .thumb-5x3 {
    padding-bottom: 80%;
}
.milestones-block__img--coating {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 0.5rem;
    background-image: repeating-linear-gradient(to bottom, rgba(82,82,82,0.2), rgba(82,82,82,1));
    border-radius: 0 0 0.375rem 0.375rem;
    -webkit-border-radius: 0 0 0.375rem 0.375rem;
    -moz-border-radius: 0 0 0.375rem 0.375rem;
    -ms-border-radius: 0 0 0.375rem 0.375rem;
    -o-border-radius: 0 0 0.375rem 0.375rem;
}
.milestones-block__img--coating-title {
    font-size: 1.5rem;
}
.milestones-block__img--coating-des {
    font-size: 0.875rem;
}
.milestones-block__dot {
    margin: auto;
    margin-top: 1.5rem;
    width: 2rem;
    height: 2rem;
    background: #c4c4c4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.milestones-block__time {
    font-size: 2.125rem;
    margin-top: 0.625rem;
}
.milestones-field .slick-slide {
    margin: 0.625rem;
}
.milestones-block__img--coating::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #525252;
    transform: translate(-50%,100%);
    -webkit-transform: translate(-50%,100%);
    -moz-transform: translate(-50%,100%);
    -ms-transform: translate(-50%,100%);
    -o-transform: translate(-50%,100%);
}
.milestones-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #D87053;
    bottom: 82px;
    z-index: -1;
}
.milestones-field .slick-prev {
    left: -0.5rem;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #054a91;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
}
.milestones-field .slick-next {
    right: -0.5rem;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #054a91;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
}
.milestones-field .slick-prev:before {
    content: "❮";
}
.milestones-field .slick-next:before {
    content: "❯";
}
.milestones-field .slick-next:before, 
.milestones-field .slick-prev:before {
    font-size: 1.5rem;
    color: #054a91;
    margin-bottom: 0.1875rem;
}
.milestones-field .slick-slide:last-child .milestones-block__img--coating {
    background-image: repeating-linear-gradient(to bottom, rgba(216, 112, 83, 0.2), #d87053);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.milestones-field .slick-slide:last-child .milestones-block__img--coating::before {
    border-top: 0.5rem solid  #d87053;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.milestones-field .slick-slide:last-child .milestones-block__dot {
    background: #ECBBAC;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.milestones-field .slick-slide:last-child .milestones-block__time {
   color: #ECBBAC;
   transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.founder-message {
    background: #f7f7f7;
}
.founder-message-content {
    max-width: 796px;
    margin: auto;
    background: #fff;
    border-radius: 0 130px;
    position: relative;
    margin-top: 6rem;
}
.founder-message-content__img {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}
.founder-message-content__img img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}
.founder-message-content__text {
    padding: 1.5rem;
    padding-left: 18rem;
}
.founder-message-content__text1 {
    font-size: 2.125rem;
    font-style: italic;
    line-height: 2.75rem;
}
.founder-message-content__auhtor {
    margin-top: 1rem;
}
.founder-message-content__text3 {
    position: relative;
    margin-left: 1.5rem;
}
.founder-message-content__text3:before{
    position: absolute;
    content: '';
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ECBBAC;
    top: 50%;
    left: -0.875rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.create-travellive,
.community-values {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 3rem;
}
.create-travellive-item {
    padding: 0.75rem 0.5rem;
    background:#d7dadc;
}
.create-travellive-item__img {
    margin: auto;
    width: 10rem;
    height: auto;
    margin-bottom: 1rem;
}
.create-travellive-banner {
    margin-top: 2.25rem;
}
.create-travellive-item__text {
    font-size: 1.25rem;
}
.outstanding-project--item__icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    vertical-align: middle;
}
.outstanding-project--item__text1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.outstanding-project--item__text {
    padding: 1rem 0.5rem 0.75rem;
}
.outstanding-project-content .slick-slide {
    margin: 0.625rem;
}
.outstanding-project-content .thumb-5x3 {
    padding-bottom: 80%;
}
.outstanding-project-content .slick-prev {
    left: -0.5rem;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #054a91;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
}
.outstanding-project-content .slick-next {
    right: -0.5rem;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #054a91;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
}
.outstanding-project-content .slick-prev:before {
    content: "❮";
}
.outstanding-project-content .slick-next:before {
    content: "❯";
}
.outstanding-project-content .slick-next:before, 
.outstanding-project-content .slick-prev:before {
    font-size: 1.5rem;
    color: #054a91;
    margin-bottom: 0.1875rem;
}
.community-value-wrapper {
    background: #fefbfb;
}
.community-value-item {
    padding: 0.75rem;
}
.community-value-item__img {
    width: 4.5rem;
    height: auto;
    margin-bottom: 1rem;
}
.community-value-item___text {
    font-size: 1.5rem;
}
.partner-content .slick-slide {
    margin: 0.625rem;
}
.partner-img {
    margin: auto;
    width: 12.5rem;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.partner-content .slick-dots li button:before {
    color: #D87053;
    font-size: 0.5rem;
}
.partner-content .slick-dots li{
    margin: 0;
}
.mission-wrapper {
    background-color: #fcf8f8;
}
.listen-wrapper {
    background-color: #faebdb;
}
.listen-content {
    max-width: 1142px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}
.listen-left-item {
    padding: 1rem;
}
.listen-left-item + .listen-left-item {
    margin-top: 3rem;
}
.listen-title {
    font-size: 2.125rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}
.listen-location {
    margin-bottom: 1.25rem;
}
.listen-text {
    font-size: 1.125rem;
}
.listen-img {
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
}
.listen-share__title {
    font-size: 1.5rem;
}
.listen-share__icon--item img {
    width: 3rem;
    margin-right: 1.5rem;
}
.form-listen-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.25rem;
}
.form-listen-textarea {
    height: auto;
    max-height: 189px;
    background-color: #ededed;
    margin-bottom: 1rem;
}
.popup-outstanding-project-wrapper {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.popup-outstanding-project-wrapper.open {
    display: block;
}
.popup-outstanding-project-field {
    max-width: 1370px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 1rem;
}
.popup-outstanding-close {
    background-color: #D87053;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    top: -0.75rem;
    right: -0.75rem;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
.popup-outstanding-project-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.popup-outstanding-project__img .thumb-5x3 {
    padding-bottom: 80%;
}
.popup-outstanding-project__title {
    font-size: 3rem;
    margin-bottom: 2.25rem;
}
.popup-outstanding-project__text {
    font-size: 1.125rem;
    line-height: 27px;
}
.popup-outstanding-project__share {
    padding: 2.25rem 0;
    border-bottom: 1px solid #d87053;
}
.sponsored-by {
    padding-top: 2.25rem;
}
.sponsored-by__title {
    font-size: 1.25rem;
}
.sponsored-by-list {
    max-width: 680px;
}
.sponsored-by__img {
    width: 96px;
    height: auto;
    margin: auto;
}
.sponsored-by-list .slick-slide {
    margin: 0.625rem;
}
