html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #484848;
  background-color: #fafafa;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Alegreya Sans", sans-serif;
  border: 0;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #484848;
}
a:hover {
  text-decoration: none;
  color: #484848;
}
img {
  display: block;
  max-width: 100%;
}

/*===========================================================================*/
.font-primary {
  font-family: "EB Garamond", serif;
}
.font-secondary {
  font-family: "Alegreya Sans", sans-serif;
}
.font-third {
  font-family: 'Alegreya', serif;
}
/*===========================================================================*/
.w-670 {
  max-width: 41.875rem;
  margin: 0 auto;
}
.w-992 {
  max-width: 62rem;
  margin: 0 auto;
}
.w-1080 {
  max-width: 67.5rem;
  margin: 0 auto;
}
.w-1200 {
  max-width: 75rem;
  margin: 0 auto;
}
.w-1366 {
  max-width: 85.375rem;
  margin: 0 auto;
}
.w-1920 {
  max-width: 120rem;
  margin: 0 auto;
}
/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}
.fs-12 {
  font-size: 0.75rem;
}
.fs-13 {
  font-size: 0.8125rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.fs-15 {
  font-size: 0.9375rem;
}
.fs-16 {
  font-size: 1rem;
}
.fs-18 {
  font-size: 1.125rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-22 {
  font-size: 1.375rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-26 {
  font-size: 1.625rem;
}
.fs-30 {
  font-size: 1.875rem;
}
.fs-32 {
  font-size: 2rem;
}
.fs-36 {
  font-size: 2.25rem;
}
.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  color: #fff;
  outline: none;
}
/*=================================================================*/
.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.thumb-5x3 {
  padding-bottom: 60%;
}
.thumb-6x3 {
  padding-bottom: 70%;
}
.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*=================================================================*/
.text-gray-ed {
  color: $color-gray-ed;
}
.text-gray-f5 {
  color: $color-gray-f5;
}
.text-gray-f5f7 {
  color: $color-gray-f5f7;
}
.text-gray-3d {
  color: $color-gray-3d;
}
.text-gray-52 {
  color: $color-gray-52;
}
.text-green-33 {
  color: $color-green-33;
}
.text-yellow-ef {
  color: $color-yellow-ef;
}
.text-yellow-fa {
  color: $color-yellow-fa;
}
.text-red-d8 {
  color: $color-red-d8;
}
.text-red-ec {
  color: $color-red-ec;
}
.text-blue-05 {
  color: $color-blue-05;
}
/*=================================================================*/
.bg-cyan-e1 {
  background-color: $color-cyan-e1;
}
.bg-brown-88 {
  background-color: $color-brown-88;
}
.bg-black-0a {
  background-color: $color-black-0a;
}
.bg-black-06 {
  background-color: #0000008c;
}
.bg-red-d8{
  background-color: #D87053;
}
.bg-blue-05{
  background-color: $color-blue-05;
}
/*=================================================================*/
.fw-300 {
  font-weight: 300;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}
.pb-10 {
  padding-bottom: 0.625rem;
}
.pl-10 {
  padding-left: 0.625rem;
}
.pr-10 {
  padding-right: 0.625rem;
}
.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.p-10 {
  padding: 0.625rem;
}
.mt-10 {
  margin-top: 0.625rem;
}
.mb-10 {
  margin-bottom: 0.625rem;
}
.ml-10 {
  margin-left: 0.625rem;
}
.mr-10 {
  margin-right: 0.625rem;
}
.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.m-10 {
  margin: 0.625rem;
}
/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}
.pb-12 {
  padding-bottom: 0.75rem;
}
.pl-12 {
  padding-left: 0.75rem;
}
.pr-12 {
  padding-right: 0.75rem;
}
.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.p-12 {
  padding: 0.75rem;
}
.mt-12 {
  margin-top: 0.75rem;
}
.mb-12 {
  margin-bottom: 0.75rem;
}
.ml-12 {
  margin-left: 0.75rem;
}
.mr-12 {
  margin-right: 0.75rem;
}
.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.m-12 {
  margin: 0.75rem;
}
/*=================================================================*/
.form-control-t {
  width: 100%;
  border: none;
  height: 2.125rem;
  padding: 1rem;
}
/*=================================================================*/
.border-white {
  border: 1px solid #fff;
}
/*=================================================================*/
.boder-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*=================================================================*/
.padding-y-56 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.padding-x-32 {
  padding-left: 2rem;
  padding-right: 2rem;
}