.top-career-img img {
    width: 100%;
    height: auto;
}
.top-career-coating {
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.75;
}
.top-career-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 10;
    text-align: center;
    width: 678px;
}
.top-career-content__text1 {
    line-height: 3.5rem;
    font-size: 3rem;
}
.top-career-content__text2 {
    font-size: 1.125rem;
    margin: 1rem 0;
    line-height: 1.75rem;
}
.top-career-img-tablet,
.top-career-img-mb {
    display: none;
}
.opening-positions-header__des {
    margin-top: 1rem;
    font-size: 1.125rem;
    margin-bottom: 3rem;
}
.why-work-wrapper {
    background: #f7f6f7;
}
.why-work-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem 3rem;
}
.why-work-content-block a{
    display: flex;
    align-items: flex-end;
}
.why-work-content-number {
    font-size: 80px;
    color: #ECBBAC;
    -webkit-text-fill-color: #f7f6f7;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ECBBAC;
    line-height: 88px;
    margin-right: 0.5rem;
}
.why-work-content-title {
    font-size: 1.125rem;
}
.why-work-content-block:nth-child(1){
    order: 1;
}
.why-work-content-block:nth-child(2){
    order: 4;
}
.why-work-content-block:nth-child(3){
    order: 2;
}
.why-work-content-block:nth-child(4){
    order: 5;
}
.why-work-content-block:nth-child(5){
    order: 3;
}
.why-work-content-block:nth-child(6){
    order: 6;
}
.tab-pane-block-opening {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
}
.tab-pane-block-work-item ~ .tab-pane-block-work-item {
    margin-top: 1.5rem;
}
.tab-pane-block-work-item {
    padding: 1rem 1.5rem;
}
.tab-pane-block-work-item__title {
    color: #D87053;
    text-transform: uppercase;
}
.tab-pane-block-work-item__text1 {
    font-size: 2.125rem;
    color: #054A91;
}
.tab-pane-block-work-item__text2 {
    font-size: 1.125rem;
}
.tab-pane-block-work-item__icon{
    font-size: 1.5rem;
    margin-right: 0.325rem;
}
.tab-pane-block-work-item:hover {
    background-color: #054A91 !important;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.tab-pane-block-work-item:hover .tab-pane-block-work-item__text1,
.tab-pane-block-work-item:hover .tab-pane-block-work-item__text2{
    color: #fff;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.tab-pane-block-work-item:hover .tab-pane-block-work-item__title {
    color: #EFBB68;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.unique-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.25rem;
}
.unique-item-img {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    background: #89AAE6;
    border-radius: 0.375rem;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    -ms-border-radius: 0.375rem;
    -o-border-radius: 0.375rem;
}
.unique-item-img img {
    width: 3.5rem;
    height: auto;
}
.unique-item {
    padding: 1.5rem;
}
.unique-text {
    text-align: center;
    margin-top: 1.5rem;
}
.unique-text1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.unique-text2 {
    font-size: 1.125rem;
}
.our-team-wrapper {
    background: #fcf9f8;
}
.our-team-item {
    display: flex;
    align-items: center;
    padding: 1.25rem 1.5rem;
    border-radius: 100px 6px;
}
.our-team-item__img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 1.5rem;
}
.our-team-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-team-item__content-title {
    font-style: italic;
    font-size: 2.125rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;
}
.our-team-item__content-author,
.our-team-item__content-work {
    color: #33573D;
}
.our-team-item__content-work {
    margin-left: 2rem;
    position: relative;
}
.our-team-item__content-work:before {
    content: '';
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    background: #ECBBAC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.our-team-item__content-author {
    text-transform: uppercase;
    letter-spacing: 8%;
}
.our-team-content .slick-slide {
    margin: 0.625rem;
    opacity: 0.5;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}
.our-team-content .slick-slide.slick-active {
    opacity: 1;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}
.our-team-content .slick-prev {
    left: -0.5rem;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    background: #054a91;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-team-content .slick-next {
    right: -0.5rem;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    background: #054a91;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-team-content .slick-prev:before {
    content: "❮";
}
.our-team-content .slick-next:before {
    content: "❯";
}
.our-team-content .slick-next:before, 
.our-team-content .slick-prev:before {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.1875rem;
}
.our-team-content .slick-dots li button:before {
    font-size: 0.5rem;
    color: #ECBBAC;
}
.our-team-content .slick-dots li.slick-active button:before {
    color: #D87053;
}
.candidate-question-wrapper {
    background: #fcf1e1;
}
.candidate-question-item {
    max-width: 927px;
    margin: auto;
    padding: 1rem 1.5rem;
    background: #fff;
    border-left: 2.5rem solid #89AAE6;
}
.candidate-question-item.active {
    border-left-color: #EFBB68;
}
.candidate-question-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.candidate-question-item-header__title {
    font-size: 2.125rem;
}
.candidate-question-item-header__icon {
    font-size: 1.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.candidate-question-item-content {
    margin-top: 1.5rem;
    display: none;
}
.candidate-question-item-content__title {
    font-size: 1.5rem;
}
.candidate-question-item-content__des {
    font-size: 1.125rem;
    margin-top: 0.5rem;
}
.candidate-question-item.active .candidate-question-item-content{
    display: block;
}
.candidate-question-item.active .candidate-question-item-header__icon{
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
.candidate-question-item ~ .candidate-question-item {
    margin-top: 1.25rem;
}