.banner-top-detail img {
  width: 100%;
  height: auto;
}
.detail-content-wrapper {
  padding-bottom: 2.75rem;
  background: #f5f5f5;
}
.detail-content {
  display: flex;
}
.detail-left-wrapper {
  flex: 0 0 24%;
  padding-right: 1.25rem;
  position: relative;
}
.detail-center-wrapper {
  flex: 0 0 59%;
}
.detail-right-wrapper {
  flex: 0 0 17%;
  padding-left: 1.25rem;
  position: relative;
}
.detail-left,
.detail-right {
  position: sticky;
  padding-top: 1.25rem;
  top: 78px;
}
.detail-center {
  // background: #fbfafa;
}
.detail-right {
  position: sticky;
}
.table-of-content-field {
  // margin-top: 1.25rem;
  position: relative;
  padding: 0.75rem 0.5rem;
  box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
}
.table-of-content__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.table-of-content {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.action-share {
  display: flex;
  margin-top: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.action-item + .action-item {
  margin-left: 1rem;
}
.action-item img {
  width: 2.5rem;
  height: auto;
}
.action-heart {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fff;
  border: 2px solid #d87053;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.action-heart-icon {
  font-size: 1.25rem;
  color: #d87053;
}
.box-shadow1 {
  box-shadow: 0 4px 16px rgb(163 161 161 / 30%);
}
.box-shadow2 {
  box-shadow: 0 4px 16px rgb(163 161 161 / 14%);
}
.writer-profile {
  padding: 1rem;
  margin-top: 1.5rem;
}
.writer-profile-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.writer-profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.writer-profile-title {
  margin-top: 1rem;
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
}
.writer-profile-btn {
  border: 1px solid $color-blue-05;
  font-size: 1.125rem;
}
.writer-profile-btn:hover {
  color: $color-blue-05;
}
.most-views-detail-right {
  padding: 0.75rem 0;
}
.most-views-detail-right__item {
  background: #fff;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  margin-bottom: 1rem;
  position: relative;
  border-left: 0.25rem solid #EFBB68;
  font-size: 0.875rem;
}
.most-views-detail-right__item a {
  color: #525252;
}
.most-views-detail-right__item:hover {
  background: $color-blue-05;
  border-color: $color-blue-05;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.most-views-detail-right__item:hover a{
  color: #fff;
  transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
}
.subscribe-email2 {
  padding: 1rem 0.5rem;
}
.subscribe-email-title2{
  padding: 0;
  font-size: 1.25rem;
}
.subscribe-email-des {
  padding: 0;
}
.subscribe-btn2 {
  font-size: 0.875rem;
}
.detail-header-item {
  font-size: 1rem;
}
.detail-header-item a {
  color: #c4c4c4;
}
.detail-header-item:last-child a {
  color: #D87053;
}
.detail-center-content {
  background: #fafafa;
  padding: 1.75rem 1.25rem;
}
.detail-center-content__title {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}
.detail-center-content__des {
  font-size: 1.25rem !important;
  line-height: 1.625rem !important;
  font-style: italic;
  margin-bottom: 1.5rem;
}
.detail-center-content__author  {
  margin-bottom: 1.5rem;
}
.detail-center-content__author--item ~ .detail-center-content__author--item {
  padding-left:2.375rem ;
}
.detail-center-content__author--item {
  position: relative;
}
.detail-center-content__author--item::before {
  position: absolute;
  content: '';
  background:  #ECBBAC;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 1.125rem;
}
.detail-center-content__author--item:first-child {
  font-weight: 700;
  font-size: 1.125rem;
}
.detail-center-content__author--item:first-child:before {
  content: none;
}
.detail-center-content__author--item:first-child a {
  color: $color-blue-05;
}
.detail-center-content figure {
  margin-bottom: 1.5rem;
}
.detail-center-content figure img {
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  width: 100%;
  height: auto;
}
.detail-center-content figure h2 {
  font-size: 0.875rem;
  color: #525252;
  margin-top: 0.5rem;
}
.detail-center-content p {
  font-size: 1.125rem;
  color: $color-gray-3d;
  line-height: 27px;
  margin-bottom: 1.5rem;
  font-family: 'Alegreya', serif;
}
.detail-center-content > h2,
.detail-center-content > h3,
.detail-center-content > h4,
.detail-center-content > h5 {
  font-weight: 700;
  color: $color-gray-3d;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  line-height: 21.6px;
}
.recommended-articles-block {
  padding: 1rem;
  background: rgba(239, 187, 104, 0.2);
  margin-bottom: 1.5rem;
}
.recommended-articles {
  column-gap: 1rem;
}
.recommended-articles-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.recommended-article-img {
  width: 35%;
}
.recommended-article-content {
  width: 65%;
  padding: 0.5rem;
}
.recommended-article-content__text1 {
  font-size: 0.625rem;
}
.recommended-article-content__text2 {
  font-size: 0.875rem;
}
.detail-cmt {
  padding: 1.75rem 1.25rem;
  margin-top: 1.5rem;
}
.detail-cmt-header__text1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.detail-cmt-header__text2 {
  font-size: 1.125rem;
}
.detail-cmt-header__text,
.detail-cmt-header__btn {
  flex: 0 0 50%;
}
.sign-up-fb,
.sign-up-gg {
  font-size: 1.125rem;
  border-bottom: 2px solid $color-blue-05;
}
.sign-up-fb:hover,
.sign-up-gg:hover {
  color: $color-blue-05;
}
.detail-cmt-header {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dfdfdf;
}
.detail-cmt-content {
  padding-top: 1.5rem;
}
.detail-cmt-content-user {
  display: flex;
}
.detail-cmt-content-user__avatar {
  flex-shrink: 0;
  margin-right: 1.5rem;
}
.detail-cmt-content-user__avatar img{
  width:4.5rem;
  height:4.5rem;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.detail-cmt-content-user__field {
  flex: 1;
  display: flex;
  align-items: center;
}
.detail-cmt-content-user__author {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}
.detail-cmt-content-user__author--name {
  font-size: 1.125rem;
}
.detail-cmt-content-user__author--time {
  font-size: 0.875rem;
  padding-left: 2rem;
  position: relative;
}
.detail-cmt-content-user__author--time:before {
  position: absolute;
  content: '';
  background:  #ECBBAC;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0.75rem;
}
.detail-cmt-content-user__text {
  font-size: 1.125rem;
  margin-bottom: 0!important;
}
.detail-cmt-content-user__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding-left: 1rem;
}
.detail-cmt-content-user__icon {
  background: #fbfafa;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.detail-cmt-content-user__icon ~ .detail-cmt-content-user__icon {
  margin-left: 1rem;
}
.detail-cmt-content-user__info {
  background: #fbfafa;
  padding: 0.5rem;
}
.detail-cmt-content-user__heart-icon {
  font-size: 1.25rem;
  color: #d87053;
}
.detail-cmt-content-parent{
  margin-bottom: 1rem;
}
.detail-cmt-content-children {
  margin-top: 1rem;
}
.detail-cmt-content-children {
  padding-left: 53px;
}
.detail-cmt-content-children .detail-cmt-content-user__avatar img {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
.detail-cate-other {
  background: #fafafa;
  background: linear-gradient(180deg,#fafafa,#f4f0ef);
}
.subcribe-email-detail-same {
  background: #EFBB68;
  display: none;
}
.detail-cate-other .most-views-detail-right {
  display: none;
}