.banner-top-detail img {
  width: 100%;
  height: auto;
}
.detail-content-wrapper {
  padding-bottom: 2.75rem;
  background: #f5f5f5;
}
.detail-content {
  display: flex;
}
.detail-left-wrapper {
  flex: 0 0 24%;
  padding-right: 1.25rem;
  position: relative;
}
.detail-center-wrapper {
  flex: 0 0 59%;
}
.detail-right-wrapper {
  flex: 0 0 17%;
  padding-left: 1.25rem;
  position: relative;
}
.detail-left {
  position: sticky;
}
.detail-center {
  background: #fbfafa;
}
.detail-right {
  position: sticky;
}
.table-of-content-field {
  margin-top: 1.25rem;
  padding: 0.75rem 0.5rem;
  box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
}
.table-of-content__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.table-of-content {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.action-share {
  display: flex;
  margin-top: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.action-item + .action-item {
  margin-left: 1rem;
}
.action-item img {
  width: 2.5rem;
  height: auto;
}
.action-heart {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fff;
  border: 2px solid #d87053;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.action-heart-icon {
  font-size: 1.25rem;
  color: #d87053;
}
.box-shadow1 {
  box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
}
.writer-profile {
  padding: 1rem;
  margin-top: 1.5rem;
}
.writer-profile-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.writer-profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.writer-profile-title {
  margin-top: 1rem;
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
}
.writer-profile-btn {
  border: 1px solid $color-blue-05;
}
.writer-profile-btn:hover {
  color: $color-blue-05;
}
