.e-maga-content {
    margin-top: 3rem;
}
.e-maga-content__block {
    padding: 1rem;
    box-shadow: 0 3px 12px rgb(163 161 161 / 50%);
}
.e-maga-content__text1 {
    padding-top: 1.5rem;
}
.e-maga-content__textlink {
    font-size: 1.5rem;
    font-weight: 500;
    border-left: 2px solid #054a91;
    padding: 0 0.625rem;
}
.e-maga-content__textlink:first-child{
    border-left: none;
    padding-left: 0;
}
.e-maga-content__text4 {
    padding-top: 0.5rem;
    color: #525252;
}
.e-maga-content__text5 {
    border: 2px solid #33573d;
    border-radius: 999pc;
    color: #33573d;
    font-weight: 700;
    font-size: 1.125rem;
}
.e-maga-content__text6 {
    color: #33573d;
    font-weight: 700;
    font-size: 1.125rem;
}
.e-maga-content .slick-slide {
    margin: 0.625rem;
}