.going-on {
  margin-top: 4.25rem;
}
.going-on-header__img {
  width: 3rem;
  height: auto;
}
.tab-item__icon {
  width: 1.5rem;
  height: auto;
  margin-right: 0.25rem;
}
.tab-item-img,
.tab-item-img2 {
  width: 100%;
  height: auto;
}
.slick-slide .tab-item-img {
  display: none;
}
.slick-slide.slick-current .tab-item-img {
  display: block;
}
.slick-slide .tab-item-img2 {
  display: block;
}
.slick-slide.slick-current .tab-item-img2 {
  display: none;
}
.tab-item ~ .tab-item {
  margin-left: 1.5rem;
}
.tab-item {
  color: #525252;
  cursor: pointer;
}
.tabs .slick-current .tab-item {
  color: #054a91;
}
.tabs .slick-slide .tab-item {
  justify-content: center;
}
.tab-pane-row1,
.tab-pane-row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem 1.25rem;
}
.tab-pane-row1-block {
  overflow: hidden;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
  display: flex;
  flex-direction: column;
}
.scale-translation {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.scale-translation:hover {
  transform: translateY(-0.75rem) scale(1.02);
  -webkit-transform: translateY(-0.625rem) scale(1.02);
  -moz-transform: translateY(-0.75rem) scale(1.02);
  -ms-transform: translateY(-0.75rem) scale(1.02);
  -o-transform: translateY(-0.75rem) scale(1.02);
  box-shadow: 0 4px 16px rgb(163 161 161 / 80%);
}
.scale-translation2 {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.scale-translation2:hover {
  transform: translateY(-0.625rem) scale(1.02);
  -webkit-transform: translateY(-0.625rem) scale(1.02);
  -moz-transform: translateY(-0.625rem) scale(1.02);
  -ms-transform: translateY(-0.625rem) scale(1.02);
  -o-transform: translateY(-0.625rem) scale(1.02);
}
.tab-pane-row1-text1 {
  padding-bottom: 0.325rem;
  font-size: 1rem;
}
.tab-pane-row1-text2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.tab-pane-row2 {
  margin-top: 1.5rem;
}
.tab-pane-row2 .tab-pane-row1__img,
.tab-pane-row2 .tab-pane-row1-text3 {
  display: none;
}
.tab-pane-row2-text2 {
  font-size: 1.25rem;
  color: #3d3d3d;
}
.tab-pane-row2-block {
  border-left: 4px solid #ecbbac;
}
.tab-pane-more {
  cursor: pointer;
  font-size: 1.125rem;
}
.tab-pane-more__link {
  border-bottom: 2px solid #054aac;
}
.tab-pane-more__link:hover {
  color: #054aac;
}
.tab-pane-row1__img {
  flex-shrink: 0;
}
.tab-pane-row1-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem;
}
.tab-pane-row1-text3 {
  margin-top: auto;
}
.tab-pane {
  // display: none;
}
.tab-pane.active {
  display: block;
}
.tabs {
  position: relative;
}
.tab-line {
  position: absolute;
  width: 0;
  bottom: -1.5rem;
  height: 0.1875rem;
  background: #dfdede;
  display: none;
}
.tab-line-child {
  width: 0;
  height: 0.1875rem;
  background: #054a9e;
  position: absolute;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.tab-content1 .slick-slide {
  margin-top: 1rem;
}
// .bg-gradient1 {
//   background: linear-gradient(180deg, #fafafa, #fef6f4);
// }
.slick-slide .tab-item-text {
  flex-shrink: 0;
}
.slick-slide .tab-item__icon {
  flex-shrink: 0;
}
