.podcast-category-going-on-thumb-block {
    background: #fff;
}
.podcast-category-going-on-thumb-block--text4 {
    margin-bottom: 0.625rem;
}
.podcast-category-going-on-thumb-block--text4 span{
    font-size: 1.125rem;
}
.podcast-cate-other-left__item--source {
    display: none;
}
.podcast-other-left__item-update {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0.325rem 0.625rem;
}
.podcast-update {
    background: #D87053;
}
.podcast-update-full {
    background: #89AAE6;
}
.podcast-featured-tab-pane__item-public {
    display: none;
}