.tab-pane-to-travel-block {
  display: flex;
  width: 100%;
}
.tab-pane-to-travel__row1 {
  flex: 0 0 70%;
  padding-right: 0.75rem;
}
.tab-pane-to-travel__row2 {
  flex: 0 0 30%;
  padding-left: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tab-pane-to-travel__row2-thumb-thumb:last-child {
  margin-bottom: 0;
}
.tab-pane-to-travel__row1-avatar,
.tab-pane-to-travel__row1-thumb-thumb,
.tab-pane-to-travel__row2-thumb-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  background-color: #fff;
}
.tab-pane-to-travel__row1-content,
.tab-pane-to-travel__row1-thumb-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.tab-pane-to-travel__row1-thumbs {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
}
.tab-pane-to-travel__row1-content {
  padding: 12rem 1.5rem 1.5rem;
  background: linear-gradient(360deg, black, transparent);
}
.tab-pane-to-travel__row1-thumb-content {
  padding: 2rem 1rem 1rem;
  background: linear-gradient(360deg, black, transparent);
}
.tab-pane-to-travel__row1-text2 {
  color: #fff;
  font-size: 2.125rem;
}
.tab-pane-to-travel__row1-text3 {
  font-size: 1.125rem;
  color: #f5f5f5;
  font-family: "Alegreya", serif;
  margin-top: 0.625rem;
}
.tab-pane-to-travel__row1-thumb-text2 {
  color: #f5f5f5;
  font-size: 1.25rem;
}
.tab-pane-to-travel__row2-thumb-img {
  display: none;
}
.tab-pane-to-travel__row2-thumb-thumb {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
  padding: 1.5rem 1rem 1rem;
  border-left: 4px solid #054a91;
  //   margin-bottom: 1.5rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.tab-pane-to-travel__row2-thumb-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.tab-pane-to-travel__row2-thumb-text1 {
  padding-bottom: 0.325rem;
  font-size: 0.625rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.tab-pane-to-travel__row2-thumb-text2 {
  color: #525252;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  min-height: 3rem;
}
.tab-pane-to-travel__row2-thumb-thumb:hover {
  background: #054a91;
  transform: translateY(-0.875rem) scale(1.02);
  -webkit-transform: translateY(-0.875rem) scale(1.02);
  -moz-transform: translateY(-0.875rem) scale(1.02);
  -ms-transform: translateY(-0.875rem) scale(1.02);
  -o-transform: translateY(-0.875rem) scale(1.02);
  box-shadow: 0 4px 16px rgb(163 161 161 / 80%);
}
.tab-pane-to-travel__row2-thumb-thumb:hover
  .tab-pane-to-travel__row2-thumb-text1 {
  color: #ecbbac;
}
.tab-pane-to-travel__row2-thumb-thumb:hover
  .tab-pane-to-travel__row2-thumb-text2 {
  color: #fff;
}
