$color-gray-ed: #ededed;
$color-gray-f5: #f5f5f5;
$color-gray-f5f7: #f5f7f9;
$color-gray-3d: #3d3d3d;
$color-gray-52: #525252;
/*=================================================================*/
$color-green-33: #33573d;
/*=================================================================*/
$color-yellow-ef: #efbb68;
$color-yellow-fa: #faebd2;
/*=================================================================*/
$color-red-d8: #d87053;
$color-red-ec: #ecbbac;
/*=================================================================*/
$color-blue-05: #054a91;
/*=================================================================*/
$color-brown-88: #88594b;
/*=================================================================*/
$color-cyan-e1: #e1e9ef;
/*=================================================================*/
$color-black-0a: #0a0a0a;
