.fullpage-week-item__img--tablet,
.fullpage-week-item__img--mb {
    display: none;
}
.fullpage-week-item {
    position: relative;
    width: 100%;
}
.fullpage-week-item__content-block {
    width: calc(100% - 376px);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.fullpage-week-item__content-block--left {
    justify-content: left;
}
.fullpage-week-item__content-block--right {
    justify-content: right;
}
.fullpage-week-item__content-block--top {
    align-items: flex-start;
}
.fullpage-week-item__content-block--bottom {
    align-items: flex-end;
}
.fullpage-week-item__content {
    color: #fff;
    max-width: 630px;
}
.fullpage-week-item__content2 {
    max-width: 450px;
}
.fullpage-week-item__img--pc,
.fullpage-week-item__img--tablet,
.fullpage-week-item__img--mb {
    width: 100%;
    height: 100vh;
}
.fullpage-week-item__img--pc img,
.fullpage-week-item__img--tablet img,
.fullpage-week-item__img--mb img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fullpage-week-item {
    background-color: #1B1B1B;
}
.fullpage-week-item__content--logo {
    margin-bottom: 8.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullpage-week-item__content--logo img {
    width: auto;
    height: 2rem;
}
.fullpage-week-item__header-text1,
.fullpage-week-item__footer-text1 {
    font-size: 1.5rem;
    margin-bottom: 1.125rem;
}
.fullpage-week-item__header-text2,
.fullpage-week-item__footer-text2 {
    font-size: 2.25rem;
    margin-bottom: 3.125rem;
    line-height: 3rem;
}
.fullpage-week-item__header-text3,
.fullpage-week-item__footer-text3 {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}
.fullpage-week-item__header-text4,
.fullpage-week-item__footer-text4 {
    font-size: 0.875rem;
    margin-top: 1.125rem;
}
.fullpage-week-item__header-text5,
.fullpage-week-item__footer-text5 {
    border-bottom: 1px solid #fff;
}
.week-table-of-content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    max-width: 376px;
    padding: 2.5rem 1rem 2.5rem 2rem;
    background: rgb(0 0 0 /50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.week-table-of-content__title {
    color: #f5f5f5;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    text-align: center;
}
.menu-week-item {
    font-size: 1.25rem;
    font-family: "EB Garamond", serif;
    margin-bottom: 1.25rem;
    border-left: 4px solid transparent;
    padding-left: 0.75rem;
    transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
}
.menu-week-item a {
    color: #ECBBAC;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}   
.menu-week-item.active{
    border-color: #fff;
}
.menu-week-item.active a {
    color: #fff;
    font-size: 1.5rem;
}
.fullpage-week-item__content-text1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}
.fullpage-week-item__content-text2 {
    font-size: 1rem;
    color: #f5f5f5;
}
#menu-week {
    max-height: 650px;
    overflow-y: scroll;
}
#menu-week::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

#menu-week::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.number-week-list,
.number-week {
    display: flex;
    align-items: center;
}
.number-week-item {
    margin-left: 1.75rem;
    font-size: 0.875rem;
    font-weight: 700;
}
.number-week-item a {
    color: #ECBBAC;
}
.number-week-item.active a{
    color: #fff;
}
.number-week-icon {
    margin-left: 1.75rem;
    color: #ECBBAC;
}