// tablet and mobile
@media (max-width: 64em) {
  .header-logo-top,
  .navbar--center,
  .navbar--left__logo,
  .navbar--right__user {
    display: none;
  }
  .navbar--left__logo-mb {
    display: block;
    width: 164px;
    height: auto;
  }
  .navbar--right__bar {
    display: flex;
  }
  .menu-mb {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background-image: url("../images/menu-mb-open.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s linear;
    transform: translatex(-100%);
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    -ms-transform: translatex(-100%);
    -o-transform: translatex(-100%);
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
  }
  .menu-mb.show {
    transform: translatex(0);
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -ms-transform: translatex(0);
    -o-transform: translatex(0);
  }
  .navbar-item__icon {
    color: #efbb5f;
    font-size: 1.25rem;
    margin-left: 0.625rem;
  }
  .navbar-item__primary:hover .navbar-item-list {
    display: none;
  }
  .navbar-item:hover .navbar-item__dropdown {
    display: none;
  }

  .navbar-item__primary.active .navbar-item-list {
    display: block;
  }
  .navbar-item__dropdown {
    position: relative;
    padding: 1.5rem 3rem;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    border: none;
    display: none;
    opacity: 1;
    visibility: visible;
    align-items: center;
    justify-content: end;
    margin-top: 0;
  }
  .navbar-item__primary a {
    color: #efbb5f;
  }
  .navbar-item__primary {
    font-size: 1rem;
    font-family: "Alegreya Sans", sans-serif !important;
  }
  .navbar-item__title {
    font-size: 1.125rem;
  }
  .navbar__list {
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 10rem;
  }
  .navbar-item.active .navbar-item__dropdown {
    display: flex;
  }
  .navbar-item-mb.active .navbar-item__title {
    color: #efbb5f;
  }
  .share-menu + .share-menu {
    margin-left: 1.25rem;
  }
  .banner-top {
    display: none;
  }
  .banner-top-mb-container {
    display: block;
  }
  .banner-top-mb .slick-dots {
    bottom: 0.3125rem;
  }
  .banner-top-mb .slick-dots li button {
    width: 2rem;
  }
  .banner-top-mb .slick-dots li button:before {
    content: "";
    width: 2rem;
    height: 0.25rem;
    background-color: #89aae6;
  }
  .banner-top-mb .slick-dots li {
    width: 1rem;
    margin: 0 1rem;
  }
  .going-on {
    margin-top: 0;
  }
  .padding-y-56 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .tab-pane-row1,
  .tab-pane-row2 {
    display: block;
  }
  .tab-pane-row1-block {
    flex-direction: row;
  }
  .tab-pane-row1__img,
  .tab-pane-to-travel__row1-thumb-img {
    width: 30%;
  }
  .tab-pane-row1-content,
  .tab-pane-to-travel__row1-thumb-content {
    width: 70%;
    padding: 1rem;
  }
  .tab-pane-row1-text1 {
    font-size: 0.625rem;
  }
  .tab-pane-row1-text2 {
    font-size: 1.25rem;
    padding-bottom: 0;
  }
  .tab-pane-row1-text3 {
    display: none;
  }
  .tab-pane-row2 {
    margin-top: 0;
  }
  .tab-pane-row1-block,
  .tab-pane-to-travel__row1-thumb-thumb {
    margin-bottom: 1rem;
  }
  .tab-pane-to-travel__row1-thumbs {
    margin-top: 1rem;
    display: block;
  }
  .tab-pane-to-travel__row1-thumb-content {
    position: relative;
    background: #fff;
  }
  .tab-pane-to-travel__row1-thumb-thumb {
    display: flex;
    width: 100%;
    box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
  }
  .tab-pane-to-travel__row1-thumb-text1 {
    font-size: 0.625rem;
    padding-bottom: 0.325rem;
  }
  .tab-pane-to-travel__row1-thumb-text2 {
    color: #054a91;
  }
  .hot-deal-container {
    padding-left: 0;
    padding-right: 0;
  }
  .i_musing_thumb__content-text {
    display: none;
  }
  .i_musing_thumb__content-img {
    width: 1.5rem;
  }
  .i_musing_thumb__content-mb {
    display: block;
    font-size: 0.875rem;
    padding: 0.5rem;
  }
  .i_musing_avatar {
    height: 100%;
  }
  .i_musing_avatar-img-ipad {
    display: block;
    height: 100%;
  }
  .i_musing_avatar-img {
    display: none;
  }
  .i_musing_avatar-img-ipad img {
    height: 100%;
  }
  .e-magazine {
    padding-left: 0;
    padding-right: 0;
  }
  .e-maga-content {
    margin-top: 1.5rem;
  }
  .week-in-picture__content {
    max-width: 100%;
  }
  .week-in-picture-content .slick-dots {
    bottom: -1.5rem;
    text-align: center;
  }
  .week-in-picture-content .slick-prev,
  .week-in-picture-content .slick-next {
    width: 1.5rem;
    height: 2.5rem;
  }
  .week-in-picture {
    padding-left: 0;
    padding-right: 0;
  }
  .p-x-32 {
    padding-left: 0;
    padding-right: 0;
  }
  .week-in-picture-content .slick-prev {
    left: 0;
  }
  .week-in-picture-content .slick-next {
    right: 0;
  }
  .point-of-view__right-content {
    display: block;
  }
  .point-of-view__right-block {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .point-of-view__right-img {
    width: 30%;
  }
  .point-of-view__right-text {
    padding: 0.375rem 1rem;
    width: 70%;
  }
  .point-of-view__right-text3 {
    display: none;
  }
  .point-of-view__left--author__title {
    font-size: 0.875rem;
  }
  .point-of-view__left--author__des {
    font-size: 0.75rem;
  }
  .category-header-list {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .category-header-list::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .category-header-list::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .featured-block {
    display: none;
  }
  .category-going-on-thumb-block--text1 {
    font-size: 0.625rem;
  }
  .category-going-on-thumb-block--text2 {
    font-size: 1.25rem;
  }
  .category-going-on-thumb-block--text3 {
    display: none;
  }
  .cate-other-left__item--author-img,
  .cate-other-right__item--author-img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .cate-other-left__item--author-text {
    font-size: 0.625rem;
  }
  .cate-other-left__item--content {
    padding: 0.5rem 1rem;
  }
  .cate-other-left__item--content {
    width: 65%;
  }
  .cate-other-left__item--img {
    width: 35%;
  }
  .cate-other-left__item--day-text,
  .cate-other-left__item--time {
    font-size: 0.75rem;
  }
  .cate-other-left__item--time:before {
    top: 0.375rem;
  }
  .cate-other-left__item--day-icon {
    font-size: 1rem;
  }
  .cate-other-left__item,
  .cate-other-right__item {
    margin-bottom: 1.5rem;
  }
  .cate-other-left__title {
    font-size: 1.5rem;
    padding-top: 0;
  }
  .cate-other {
    background-color: #fafafa;
  }
  .subscribe-email-title {
    font-size: 1.25rem;
    padding-left: 0;
    padding-right: 0;
  }
  .subscribe-email-des {
    padding: 0;
  }
  .subscribe-btn {
    font-size: 0.875rem;
  }
  .featured-mb {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #f5f5f5;
  }
  .featured-mb-left {
    background: #efbb68;
  }
  .featured-block__title {
    font-size: 1.5rem;
    padding: 3rem 1.5rem 1.5rem 2rem;
  }
  .cate-other-right__item--text2 {
    color: #054a91;
    font-size: 1.25rem;
  }
  .cate-other-right__item--content {
    padding: 0.5rem 1rem;
  }
  .cate-other-right__item--source {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .cate-other-right__item--author-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .cate-other-right__item--author-link,
  .cate-other-right__item--day,
  .cate-other-right__item--public {
    display: flex;
    align-items: center;
  }
  .cate-other-right__item--author-text {
    margin-left: 0.5rem;
    font-size: 0.625rem;
  }
  .cate-other-right__item--day-text {
    font-size: 0.75rem;
  }
  .cate-other-right__item--day-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .cate-other-right__item--time {
    font-size: 0.75rem;
    padding-left: 1rem;
    position: relative;
  }
  .cate-other-right__item--time:before {
    position: absolute;
    content: "";
    width: 0.375rem;
    height: 0.375rem;
    background-color: #ecbbac;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 0.3125rem;
    top: 0.375rem;
  }
  .cate-other-block {
    grid-gap: 1.5rem;
  }
  .cate-other-right__list {
    padding-left: 2rem;
  }
  .featured-mb-right {
    padding: 2rem;
  }
  .detail-left-wrapper,
  .detail-right-wrapper {
    display: none;
  }
  .detail-center-wrapper {
    flex: 0 0 100%;
  }
  .detail-center-content {
    padding: 1rem;
    position: relative;
  }
  .detail-center-content__title {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
  .detail-center-content p {
    font-size: 1rem;
  }
  .table-of-content__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .table-of-content-field-mb {
    max-height: 800px;
    margin-bottom: 1.5rem;
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
}
  .table-of-content-field-mb.isFixed {
    max-height: 60px;
    overflow: hidden;
    position: fixed;
    border-radius: 0.375rem;
    z-index: 100;
    right: 2rem;
    left: 2rem;
    box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    -ms-border-radius: 0.375rem;
    -o-border-radius: 0.375rem;
    background-color: rgba(255,255,255,0.9)!important;
}
  .table-of-content-field-mb.isFixed .table-of-content__title {
    color: #054a91;
  }
  .table-of-content-field-mb.isFixed .action-share {
    position: absolute;
    right: 0;
    top: 0;
  }
  .table-of-content-field-mb.isFixed .table-of-content__title-action {
    display: none;
  }
  .table-of-content-field-mb.is-show {
    max-height: 800px;
    transition: all 0.05s linear;
    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -ms-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
  }
  .table-of-content-field-mb.isFixed .table-of-contents {
    max-width: 60%;
  }
  .table-of-content {
    margin-bottom: 0.75rem;
  }
  .writer-profile {
    display: flex;
    align-items: center;
  }
  .writer-profile-avatar {
    flex-shrink: 0;
    margin-right: 1rem;
  }
  .writer-profile-share {
    flex-shrink: 0;
  }
  .writer-profile-text {
    flex: 1;
  }
  .subcribe-email-detail-same {
    display: block;
  }
  .detail-same-cate {
    padding-top: 3rem;
  }
  .detail-cate-other .cate-other-left__title,
  .detail-same-cate .cate-other-left__title{
    text-align: left !important;
  }
  .detail-cate-other .banner-pc{
    display: none;
  }
  .detail-cate-other .most-views-detail-right {
    display: block;
  }
  .detail-cate-other .most-views-detail-right .table-of-content__title{
    font-size: 1.5rem;
    color: #D87053;
    text-align: center;
  }
  .detail-cate-other .cate-other-right{
    display: flex;
    flex-direction: column;
  }
  .detail-cate-other .cate-other-right .subscribe-email{
    order: 1;
  }
  .detail-cate-other .cate-other-right .most-views-detail-right{
    order: 2;
  }
  .week-table-of-content {
    display: none;
  }
  .fullpage-week-item__content-block {
    width: 100%;
  }
  .fullpage-week-item__img--pc {
    display: none;
  }
  .fullpage-week-item__content--logo {
    margin-bottom:3rem
  }
  .fullpage-week-item__header-text1 {
    margin-bottom: 0.325rem;
  }
  .fullpage-week-item__header-text2 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .fullpage-week-item__header-text3,
  .fullpage-week-item__header-form,
  .fullpage-week-item__header-text4 {
    display: none;
  }

}







// tablet
@media (min-width: 46.25em) and (max-width: 64em) {
  .navbars,
  .menu-mb-content-header {
    padding: 0.75rem 2rem;
  }
  .navbar-item .navbar-item__primary:last-child {
    padding-right: 0;
  }
  .share-menu img {
    width: 3rem;
    height: auto;
  }
  .banner-top-mb-item-content {
    display: none;
  }
  .going-on-header__title {
    font-size: 2.125rem;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .tab-pane-block {
    display: flex;
    align-items: flex-start;
  }
  .tab-pane-row1 {
    flex: 0 0 65%;
    padding-right: 0.75rem;
  }
  .tab-pane-row2 {
    flex: 0 0 35%;
    padding-left: 0.75rem;
  }
  .tab-pane-row2-text2 {
    font-size: 0.875rem;
    -webkit-line-clamp: 2;
    color: #525252;
  }
  .tab-pane-row2-block {
    border-left: 4px solid #054a91;
  }
  .tab-pane-row2-block .tab-pane-row1-content {
    padding: 0.5rem;
  }
  .tab-pane-to-travel__row1 {
    flex: 0 0 65%;
  }
  .tab-pane-to-travel__row2 {
    flex: 0 0 35%;
  }
  .tab-pane-to-travel__row2-thumb-thumb {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .tab-pane-to-travel__row2-thumb-text2 {
    -webkit-line-clamp: 2;
    color: #525252;
    font-size: 0.875rem;
    font-weight: 400;
  }
  .tab-pane-to-travel__row1-text1 {
    color: #efbb68;
  }
  .tab-pane-to-travel__row1-text2 {
    font-size: 1.5rem;
  }
  .tab-pane-to-travel__row1-text3 {
    font-size: 1rem;
  }
  .hot-deal-slide__text {
    font-size: 1.25rem;
  }
  .promotion-email__text {
    width: 35%;
    font-size: 1.5rem;
  }
  .promotion-email__form {
    width: 65%;
  }
  .i_musing_avatar__content-text {
    font-size: 1.5rem;
  }
  .tab-pane-block.tab-pane-musing-block {
    grid-gap: 1rem;
  }
  .i_musing_avatar__content {
    padding: 1rem;
  }
  .i_musing_thumb-content {
    padding: 0.5rem;
  }
  .e-maga-content__textlink {
    font-size: 1.25rem;
  }
  .week-in-picture__content {
    max-width: 65%;
  }
  .week-in-picture__title {
    line-height: 1.2;
  }
  .week-in-picture__block.border-6 {
    border-radius: 0;
  }
  .point-of-view {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .point-of-view__right {
    padding: 2rem 2rem 2.25rem 2rem;
  }
  .point-of-view__right-header {
    padding-bottom: 3rem;
  }
  .point-of-view__left {
    padding: 2rem 0.5rem 2rem 1.5rem;
  }
  .point-of-view__left--title {
    font-size: 1.5rem;
    padding-bottom: 2.125rem;
  }
  .point-of-view__left--author__img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .point-of-view__right--title {
    font-size: 1.5rem;
  }
  .point-of-view__left-readmore,
  .point-of-view__right-readmore {
    padding-top: 1.25rem !important;
  }
  .pen-travllive-btn,
  .form-newletter {
    margin-top: 2rem;
  }
  .footer-right-title {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 1.25rem;
  }
  .footer-right-icon {
    display: block;
    margin-left: 0.5rem;
  }
  .footer-right-list {
    display: none;
  }
  .footer-right-navbar.active .footer-right-list {
    display: block;
  }
  .footer-right-navbar.active .footer-right-title {
    color: #efbb68;
  }
  .footer-right-navbar.active .footer-right-title a {
    color: #efbb68 !important;
  }
  .footer-right-navbar.active .footer-right-item a {
    color: #efbb68 !important;
  }
  .footer-right {
    display: block;
    text-align: end;
  }
  .mt-header {
    margin-top: 4rem;
  }
  .category-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .category-going-on-thumb-block:nth-of-type(3n) {
    display: none;
  }
  .category-going-on-thumb {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-going-on-block {
    display: block;
  }
  .fullpage-week-item__img--tablet{
    display: block;
  }
  


}








// mobile
@media (max-width: 46.1875em) {
  .navbar--left__logo-mb {
    height: 1.25rem;
    width: auto;
  }
  .navbars,
  .menu-mb-content-header {
    padding: 0.25rem 0.5rem;
  }
  .navbar-item__dropdown {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar-item__dropdown {
    padding: 0.75rem 1.25rem;
  }
  .navbar-item__primary {
    padding-left: 0;
    padding-right: 0;
  }
  .share-menu img {
    width: 2rem;
    height: auto;
  }
  .banner-top-mb-item-text {
    display: none;
  }
  .banner-top-mb-item-content {
    display: block;
  }
  .thumb-item6x3 {
    padding-bottom: 70%;
  }
  .banner-top-mb .slick-dots {
    bottom: -0.625rem;
  }
  .banner-top-mb .slick-next {
    right: 0;
    top: 41%;
    background: rgba(255, 255, 255, 0.25);
    width: 1.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-top-mb .slick-prev {
    left: 0;
    top: 41%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.25);
    width: 1.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-top-mb .slick-next:before {
    content: "\276D";
  }
  .banner-top-mb .slick-prev:before {
    content: "\276C";
  }
  .going-on-header__title {
    font-size: 1.375rem;
    font-weight: 600;
  }
  .going-on-header__img {
    width: 1.625rem;
    height: auto;
  }
  .banner-top-mb-container {
    background-color: #fff;
    padding-bottom: 0.625rem;
  }
  .padding-y-56 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .padding-x-32 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .tab-pane-row2-block {
    border-left: 0;
  }
  .tab-pane-row2 .tab-pane-row1__img {
    display: block;
  }
  .tab-pane-row1-text2 {
    font-size: 1rem;
  }
  .tab-pane-row2-text2 {
    font-size: 1rem;
    color: #054a91;
  }
  .tab-pane-block .tab-pane-row1 .tab-pane-row1-block:first-child {
    flex-direction: column;
  }
  .tab-pane-block
    .tab-pane-row1
    .tab-pane-row1-block:first-child
    .tab-pane-row1__img,
  .tab-pane-block
    .tab-pane-row1
    .tab-pane-row1-block:first-child
    .tab-pane-row1-content {
    width: 100%;
  }
  .tab-pane-block
    .tab-pane-row1
    .tab-pane-row1-block:first-child
    .tab-pane-row1-text2 {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }
  .tab-pane-block
    .tab-pane-row1
    .tab-pane-row1-block:first-child
    .tab-pane-row1-text3 {
    display: block;
  }
  .tab-pane-more {
    font-size: 0.875rem;
  }
  .tabs {
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: 3rem;
  }
  .tab-line {
    display: block;
  }
  .tab-item-text {
    font-size: 0.875rem;
  }
  .tabs::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .tab-pane-to-travel-block {
    flex-direction: column;
  }
  .tab-pane-to-travel__row1 {
    flex: 100%;
    padding-right: 0;
  }
  .tab-pane-to-travel__row2 {
    flex: 100%;
    padding-left: 0;
  }
  .tab-pane-to-travel__row1-thumb-text2 {
    font-size: 1rem;
  }
  .tab-pane-to-travel__row2-thumb-thumb {
    padding: 0;
    border-left: none;
    margin-bottom: 1rem;
    flex-direction: row;
  }
  .tab-pane-to-travel__row2-thumb-text2 {
    color: #054a91;
    font-size: 1rem;
    font-weight: 500;
  }
  .tab-pane-to-travel__row2-thumb-content {
    padding: 0.5rem;
    width: 70%;
  }
  .tab-pane-to-travel__row2-thumb-img {
    display: block;
    width: 30%;
  }
  .tab-pane-row1-content,
  .tab-pane-to-travel__row1-thumb-content {
    padding: 0.5rem;
  }
  .tab-pane-to-travel__row1-content {
    position: relative;
    background: #fff;
    padding: 0.5rem;
  }
  .tab-pane-to-travel__row1-text1 {
    font-size: 0.625rem;
    padding-bottom: 0.325rem;
  }
  .tab-pane-to-travel__row1-text2 {
    color: #054a91;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }
  .tab-pane-to-travel__row1-text3 {
    font-size: 1rem;
    color: #525252;
    margin-top: 0;
  }
  .tab-pane-to-travel__row1-avatar {
    box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
  }
  .hot-deal-slide__text {
    font-size: 1rem;
  }
  .hot-deal-container {
    padding-left: 0;
    padding-right: 0;
  }
  .hot-deal-slide .slick-dots li button:before {
    font-size: 0.5rem;
  }
  .hot-deal-slide .slick-dots {
    bottom: -0.75rem;
  }
  .hot-deal-slide.slick-dotted.slick-slider {
    margin-bottom: 12px;
  }
  .promotion-via-email {
    display: block;
    padding: 1.5rem 1rem;
  }
  .promotion-email__text {
    width: 100%;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    text-align: center;
    padding-right: 0;
  }
  .promotion-email__form {
    width: 100%;
  }
  .promotion-email__input {
    margin-bottom: 1rem;
  }
  .promotion-email__form-group {
    text-align: center;
  }
  .promotion-email__btn {
    font-size: 0.875rem;
  }
  .tab-pane-block.tab-pane-musing-block {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 0.5rem;
    grid-template-rows: 1fr;
  }
  .i_musing_avatar__content-text {
    font-size: 1rem;
  }
  .i_musing_avatar__content,
  .i_musing_thumb-content {
    padding: 1rem 0.5rem 0.5rem;
  }
  .play-large {
    width: 2.5rem;
    height: 2.5rem;
  }
  .play-large .play-video-icon {
    font-size: 1.5rem;
  }
  .i_musing_avatar__content-img {
    width: 2.5rem;
  }
  .i_musing_thumb__content-img {
    width: 1.25rem;
  }
  .play-small {
    width: 1.5rem;
    height: 1.5rem;
  }
  .play-small .play-video-icon {
    font-size: 1rem;
  }
  .e-maga-content__block {
    padding: 0.5rem;
  }
  .e-maga-content__text1 {
    padding-top: 1rem;
    font-size: 0.625rem;
  }
  .e-maga-content__textlink {
    font-size: 1rem;
  }
  .e-maga-content__text4 {
    font-size: 0.875rem;
  }
  .e-maga-content__text5 {
    border: 2px solid #054a91;
    color: #054a91;
    font-size: 0.875rem;
    line-height: 1;
  }
  .e-maga-content__text6 {
    color: #054a91;
    font-size: 0.875rem;
    line-height: 1;
  }
  .e-maga-content .slick-slide {
    margin: 0.375rem;
  }
  .e-magazine {
    padding-left: 0;
    padding-right: 0;
  }
  .week-in-picture__content {
    padding: 1rem 0.5rem 0.5rem;
    position: relative;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  .week-in-picture {
    padding-left: 0;
    padding-right: 0;
  }
  .week-in-picture__title {
    color: #33573d;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .week-in-picture__des {
    color: #525252;
    font-size: 0.875rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .week-in-picture-content .slick-prev,
  .week-in-picture-content .slick-next {
    top: 34%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .week-in-picture-content .slick-dots li button {
    font-size: 1.125rem;
  }
  .point-of-view-content {
    display: flex;
    flex-direction: column;
  }
  .point-of-view-content,
  .week-in-picture-content {
    margin-top: 1.5rem;
  }
  .week-in-picture__block {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .point-of-view {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .point-of-view__left {
    order: 2;
    padding: 2.25rem 0;
  }
  .point-of-view__right {
    padding: 0 0.5rem 2rem;
  }
  .point-of-view__right--title,
  .point-of-view-select {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .point-of-view__right-header {
    padding-bottom: 1.125rem;
  }
  .point-of-view__right-text {
    padding: 0.375rem 0.5rem;
  }
  .point-of-view__right-text1 {
    font-size: 0.625rem;
  }
  .point-of-view__right-text2 {
    font-size: 1rem;
  }
  .point-of-view__right-block:first-child {
    flex-direction: column;
  }
  .point-of-view__right-block:first-child .point-of-view__right-img {
    width: 100%;
  }
  .point-of-view__right-block:first-child .point-of-view__right-text {
    width: 100%;
  }
  .point-of-view__right-block:first-child .point-of-view__right-text2 {
    font-size: 1.25rem;
  }
  .point-of-view__right-block:first-child .point-of-view__right-text3 {
    display: block;
    font-size: 0.875rem;
  }
  .point-of-view__left--title {
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .point-of-view__left--author__title {
    font-size: 0.625rem;
  }
  .point-of-view__left--author .slick-slide {
    margin: 1rem;
  }
  .point-of-view__left--author .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #ecbbac;
  }
  .point-of-view__left--author .slick-dots li button:before {
    color: gray;
    font-size: 0.625rem;
  }
  .pen-travllive-title {
    font-size: 1.375rem;
  }
  .pen-travllive-des {
    font-size: 1rem;
  }
  .pen-travllive-btn,
  .form-newletter {
    margin-top: 1.5rem;
  }
  .pen-travllive-btn,
  .newletter-btn {
    font-size: 0.875rem;
  }
  .form-newletter-input {
    margin-bottom: 1.5rem;
  }
  .footer-right,
  .footer-footer__logo {
    display: none;
  }
  .footer-header-logo img {
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer-header-logo {
    margin-bottom: 3.25rem;
  }
  .footer-left {
    text-align: center;
  }
  .footer-left__top {
    flex-direction: column;
  }
  .footer-left__top > p {
    margin-right: 0;
  }
  .footer-left__top--link {
    display: inline-block;
  }
  .footer-share {
    justify-content: center;
  }
  .footer-footer__content {
    flex-direction: column;
    margin-top: 3rem;
  }
  .footer-footer__text {
    order: 3;
  }
  .footer-footer__text2 {
    order: 2;
    margin: 1rem 0;
  }
  .footer-footer__dmca {
    order: 1;
    margin-left: 0;
  }
  .mt-header {
    margin-top: 3rem;
  }
  .category-header {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }
  .category-header-list {
    font-size: 0.875rem;
  }
  .category-header-item::before {
    top: -0.325rem;
  }
  .category-going-on-thumb {
    display: block;
  }
  .category-going-on-field__content {
    position: relative;
    padding: 1rem;
    background: #f5f5f5;
  }
  .category-going-on-field--text1 {
    font-size: 0.625rem;
  }
  .category-going-on-field--text2 {
    color: #054a91;
    font-size: 1.25rem;
  }
  .category-going-on-field--text3 {
    font-size: 0.875rem;
    color: #525252;
    font-family: "Alegreya", sans-serif;
  }
  .category-going-on-field {
    box-shadow: 0 4px 16px rgb(163 161 161 / 50%);
  }
  .category-going-on-thumb-block {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .category-going-on-thumb-block__img {
    width: 30%;
  }
  .category-going-on-thumb-block__content {
    width: 70%;
    padding: 0.5rem;
  }
  .category-going-on-thumb-block--text1 {
    font-size: 0.625rem;
  }
  .category-going-on-thumb-block--text2 {
    font-size: 1rem;
    padding-bottom: 0;
  }
  .category-going-on-thumb-block--text3 {
    display: none;
  }
  .featured-mb,
  .cate-other-block {
    display: flex;
    flex-direction: column;
  }
  .featured-mb-right,
  .cate-other-right {
    order: 2;
  }
  .featured-mb-left,
  .cate-other-left {
    order: 1;
  }
  .cate-other-left__loadmore,
  .cate-other-left__title {
    width: 100%;
  }
  .featured-mb-right {
    padding: 0;
  }
  .featured-block__title {
    padding: 2.25rem 0 1.5rem;
    text-align: center;
  }
  .cate-other-right__item--content,
  .cate-other-left__item--content {
    padding: 0.5rem;
  }
  .cate-other-right__list,
  .cate-other-left__list {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .cate-other-right__item--text2,
  .cate-other-left__item--text2 {
    font-size: 1rem;
  }
  .cate-other-right__item--author-img,
  .cate-other-left__item--author-img,
  .cate-other-left__item--day-icon,
  .cate-other-right__item--day-icon {
    display: none;
  }
  .cate-other-left__item--author-text,
  .cate-other-right__item--author-text {
    margin-left: 0;
  }
  .cate-other-left__title {
    padding: 1rem 0 1.5rem;
  }
  .featured-mb-left,
  .banner-pc {
    border-radius: 0;
  }
  .writer-profile {
    display: block;
    padding: 0.75rem;
  }
  .writer-profile-avatar {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
  }
  .writer-profile-title {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  .writer-profile-des,
  .writer-profile-btn {
    font-size: 0.875rem;
  }
  .recommended-article:first-child {
    margin-bottom: 0.5rem;
  }
  .detail-center-content p {
    font-size: 0.875rem;
  }
  .detail-center-content figure {
    margin-bottom: 1rem;
  }
  .detail-center-content > h2, 
  .detail-center-content > h3, 
  .detail-center-content > h4, 
  .detail-center-content > h5 {
    margin-bottom: 1rem;
  }
  .detail-center-content {
    padding: 0.75rem;
  }
  .detail-header-item {
    font-size: 0.625rem;
  }
  .category-header-item::before {
    font-size: 1rem;
  }
  .detail-center-content__des {
    font-size: 1.125rem !important;
    margin-bottom: 1rem!important;
  }
  .detail-center-content__author--item:first-child {
    font-size: 0.875rem;
  }
  .detail-center-content__author--item {
    font-size: 0.875rem;
  }
  .detail-center-content figure h2 {
    font-size: 0.75rem;
  }
  .table-of-content-field-mb.isFixed {
    right: 0.625rem;
    left: 0.625rem;
  }
  .table-of-content-field-mb.isFixed .action-share {
    display: block;
  }
  .table-of-content-field-mb.isFixed .action-share .action-item + .action-item{
    margin-left: 0;
  }
  .table-of-content-field-mb.isFixed .action-share .action-item {
    margin-bottom: 1rem;
  }
  .detail-cmt {
    padding: 0.75rem;
  }
  .detail-cmt-header__text2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .detail-cmt-header__text, .detail-cmt-header__btn {
    flex: 0 0 100%;
  }
  .sign-up-btn2,
  .sign-up-fb,
  .sign-up-gg {
    font-size: 0.875rem;
  }
  .detail-cmt-content-user__avatar {
    margin-right: 0.25rem;
  }
  .detail-cmt-content-user__avatar img {
    width: 2.25rem;
    height: 2.25rem;
  }
  .detail-cmt-content-user__field {
    flex-direction: column;
  }
  .detail-cmt-content-user__author--name,
  .detail-cmt-content-user__text {
    font-size: 0.875rem;
  }
  .detail-cmt-content-user__author--time {
    font-size: 0.75rem;
  }
  .detail-cmt-content-user__action {
    margin-right: auto;
    padding-left: 0;
    margin-top: 0.325rem;
  }
  .detail-cmt-content-children {
    padding-left: 0.5rem;
  }
  .detail-cmt-content-children .detail-cmt-content-user__avatar img {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }
  .detail-cate-other .cate-other-left {
    order: 1;
  }
  .detail-cate-other .cate-other-right {
    order: 1;
  }
  .detail-cate-other .cate-other-left__title, 
  .detail-same-cate .cate-other-left__title {
    text-align: center!important;
  }
  .detail-cate-other {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .detail-same-cate {
    padding-top: 1rem;
  }
  .subcribe-email-detail-same {
    background: #89aae6;
  }
  .i_musing_thumb-block:nth-of-type(5n+0){
    display: none;
  }
  .fullpage-week-item__img--mb{
    display: block;
  }
  .fullpage-week-item__header-text1 {
    font-size: 1.25rem;
  }
  .fullpage-week-item__header-text2 {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
  .fullpage-week-item__content-block {
    padding: 0.625rem;
  }
  .fullpage-week-item__footer-text2 {
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }
  .fullpage-week-item__footer-text3 {
    font-size: 1rem;
  }




}
